<div class="container">
  <h1 class='my-md-5'><%= t('views.messages.new.title') %></h1>
  <p class='mb-2'><%== t('views.messages.new.faq') %></p>
  <div class="card-body ">
    <%= simple_form_for @message, url: messages_url do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs p-2">
        <%= f.input :subject,
          label: t('views.messages.new.subject_label'),
          required: true,
          error: t('views.messages.new.subject_error')
        %>
        <%= f.input :body,
          as: :text,
          label: t('views.messages.new.body_label'),
          required: true,
          error: t('views.messages.new.body_label')
        %>
      </div>
      <div class="text-center">
        <div class="d-flex align-items-center justify-content-center">
          <%= f.button :submit, t('views.messages.new.submit'), class: "btn btn-info text-white m-4" %>
        </div>
      </div>
    <% end %>
  </div>
</div>

