
<div class="container">
  <h1 class="my-md-5"> <%= t('.title_edit') %></h1>
  <div class="row">
    <div class="col-12 col-md-6">
      <div class="card-connexion">
        <%= simple_form_for(resource, wrapper: :inline_form, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>
            <% resource.errors.full_messages.each do |msg| %>
                <p class= "alert-error"><%= msg %></p>
            <% end %>
            <div class="form-inputs">
              <div class="border p-3 mb-2">
                <h4 class="text-center form-headers"><%= t('.user') %></h4>
                <%= f.input :email, required: true, autofocus: true %>
                <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                  <p><%= t(".currently_waiting_confirmation_for_email", email: resource.unconfirmed_email) %></p>
                <% end %>
                <%= f.input :first_name,
                            input_html: { placeholder: t('activerecord.attributes.user.first_name') }  %>
                <%= f.input :last_name,
                            input_html: { placeholder: t('activerecord.attributes.user.last_name') }  %>
              </div>
              <div class="border p-3">
                <h4 class="text-center form-headers"><%= t('.password') %></h4>
                <%= f.input :password,
                            hint: t(".leave_blank_if_you_don_t_want_to_change_it"),
                            required: false,
                            input_html: { placeholder: t('activerecord.attributes.user.password'), autocomplete: "new-password" } %>
                <%= f.input :password_confirmation,
                            required: false,
                            input_html: { placeholder: t('activerecord.attributes.user.confirm_password'), autocomplete: "new-password" } %>
                <%= f.input :current_password,
                            hint: t(".we_need_your_current_password_to_confirm_your_changes"),
                            required: true,
                            input_html: { autocomplete: "current-password" } %>
              </div>
            </div>
            <div class="form-actions text-center mt-2">
              <%= f.button :submit, t(".update"), class: "btn btn-info button-connexion text-white" %>
            </div>
          <% end %>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <div class="card-connexion">
        <div class="border p-3 mb-2 text-center">
          <h4 class="form-headers">Stripe</h4>
          <% unless current_user.no_account? %>
            <p class="text-center"><%= t('.stripe_conected_success') %> ✅</p>
            <%= link_to t('.stripe_dashboard'), stripe_dashboard_path, class:"btn btn-outline-info", target: "_blank" %>
          <% else %>
            <p><%= t('.stripe_instance') %></p>
            <%= link_to t('.stripe_connect'), stripe_sign_up_path, class:"btn btn-outline-info" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-12">
      <div class="text-center">
        <div class="d-flex align-items-center justify-content-center">
          <%= t(".unhappy") %> <%= link_to t(".cancel_my_account"), registration_path(resource_name), data: { confirm: t(".are_you_sure") }, method: :delete, class: "btn btn-outline-secondary m-4" %>
        </div>
          <%= link_to t("devise.shared.links.back"), :back %>
      </div>
    </div>
  </div>
</div>

















