<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <style type="text/css">
      .container {
        width: 900px;
        margin: auto;
      }
      .btn {
        color: white;
        background-color: #F2C94C;
        border: 1px solid #F2C94C;
        padding: 5px 25px;
        text-decoration: none;
      }

      .center {
        text-align: center;
      }
      .background {
        background-color: white;
        padding: 30px;
      }
      body {
        background-color: #E8EAEC;
      }
      .footer {
        color: gray;
      }
    </style>
  </head>
  <body>
    <div class="background container">
      <div class="center">
        <%= image_tag attachments['logo.jpg'].url, width:"200" %>
      </div>
      <div>
        <h3><%= t("mailer.kyc_validated.line_1", first_name: @user.first_name) %></h3>
        <p><%= t("mailer.kyc_validated.line_2")%></p>
        <p><%= t("mailer.kyc_validated.line_3")%></p>
        <p><%= link_to t("mailer.kyc_validated.action"), root_url, class:"btn", target: "_blank" %></p>
        <p><%= t("mailer.kyc_validated.line_4") %></p>
        <ul>
          <li><%= t("mailer.kyc_validated.line_5") %></li>
          <li><%= t("mailer.kyc_validated.line_6") %></li>
          <li><%= t("mailer.kyc_validated.line_7") %></li>
          <li><%= t("mailer.kyc_validated.line_8") %></li>
          <li><%= t("mailer.kyc_validated.line_9") %></li>
          <li><%= t("mailer.kyc_validated.line_10") %></li>
          <li><%= t("mailer.kyc_validated.line_11") %></li>
        </ul>
        <p><%= t("mailer.kyc_validated.line_12") %></p>
        <p><%= t("mailer.goodbye") %> <%= link_to "www.fromspayce.com", "https://www.fromspayce.com/"%></p>
      </div>
    </div>
    <div class="center footer">
      <p>From Spayce</p>
      <p>N° siret :84423490600015</p>
      <p>Forme juridique: Société par actions simplifiée</p>
      <p>Date immatriculation RCS : 29-11-2018</p>
    </div>
  </body>
</html>


