<div class="wrapper">
  <div class=" container">
    <div class="card-connexion">
      <h1 class="text-center mb-5"><%= t('views.registration_steps.user_info.title') %></h1>
      <%= simple_form_for(current_user, wrapper: :inline_form, url: wizard_path, method: :put) do |f| %>
        <div class="form-inputs">
          <div class="border p-3 mb-3">
          <h4 class="text-center form-headers"><%= t('views.registration_steps.user_info.second_title') %></h4>
          <%= f.input :first_name,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.first_name') } %>
          <%= f.input :last_name,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.last_name') } %>
          <%= f.input :entity_name,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.entity_name') } %>
          <%= f.input :siret,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.siret') } %>
          <%= f.input :address_line1,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.address_line1') } %>
          <%= f.input :address_line2,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.address_line2') } %>
          <%= f.input :zipcode,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.zipcode') } %>
          <%= f.input :city,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.city') } %>
          <%= f.input :state,
                      autofocus: true,
                      input_html: { placeholder: t('activerecord.attributes.user.state') } %>
          <%= f.input :country,
                      autofocus: true,
                      collection: ["FR", "US"],
                      prompt: 'Select your country' %>
          </div>
        </div>
        <div class="border p-3">
          <h4 class="text-center form-headers"><%= t('views.registration_steps.user_info.payment_info.title') %></h4>
          <p><%= t('views.registration_steps.user_info.payment_info.content') %></p>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, t('views.registration_steps.user_info.submit'), class: "btn btn-info button-connexion text-white mt-3" %>
        </div>
      <% end %>
      <div class="text-center mt-5">
        <div class="d-flex align-items-center justify-content-center">
          <%= link_to t('views.registration_steps.user_info.skip'), next_wizard_path, class: "btn btn-outline-secondary" %>
        </div>
      </div>
    </div>
  </div>
</div>

