<p><%= t('views.clients.projects.show.received_from') %> <%= @project.user.first_name.capitalize || "Michel" %> <%= @project.user.last_name.upcase || "DURAND" %></p>

<p><%= t('views.clients.projects.show.to_be_paid') %> <%= number_to_currency(@project.amount) %></p>

<p><%= t('views.clients.projects.show.expiration') %> <%= @project.created_at + 7 %>.</p>
<p><%= t('views.clients.projects.show.expiration_info') %></p>

<div class="d-flex w-100 flex-wrap">
  <%= render 'preview', project: @project %>
</div>

<script src="https://js.stripe.com/v3/"></script>
<% if @project.payment_succeeded? && !@project.paid_expired? %>
  <p><%= t('views.clients.projects.show.payemnt_successful') %></p>
  <div id="download_button" data-project-id=<%= @project.id %>>
    <% unless @project.url.nil? %>
      <%= render 'button', project: @project %>
    <% else %>
      <div class="spinner-border text-info" role="status">
        <span class="sr-only"><%= t('views.clients.projects.show.loading') %></span>
      </div>
    <% end %>
  </div>
<% else %>
  <% if @project.sent? %>
    <button id="checkout-button" data-spk="<%= ENV['STRIPE_PUBLIC_KEY'] %>" data-uid="<%= @project.user.uid %>" data-csid="<%= @project.checkout_session_id %>"><%= t('views.clients.projects.show.checkout') %></button>
  <% else %>
    <p><%= t('views.clients.projects.show.expired') %> <%= @project.user.first_name %> <%= @project.user.last_name %></p>
  <% end %>
  <% if @project.payment_failed?  %>
    <p><%= t('views.clients.projects.show.payemnt_failed') %></p>
  <% end %>
<% end %>
