<div class="wrapper">
  <div class=" container">
    <div class="card-connexion mt-5">
      <h1 class="text-center mt-5 mb-3"><%= t('.title') %></h1>
      <p class= "text-center my-3"><%= t('.instance_one') %></p>
      <p class= "text-center my-3"><%= t('.instance_two') %></p>
      <%= simple_form_for(resource, as: resource_name, wrapper: :inline_form, url: password_path(resource_name), html: { method: :post })  do |f| %>

        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { placeholder: "Email", autocomplete: "email", class:"xl-input" } %>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, t('.reset_password'), class: "btn btn-info button-connexion text-white text-uppercase py-3" %>
        </div>
      <% end %>
      <div class="text-center mt-4 mb-5">
        <div class="d-flex align-items-center justify-content-center">
          <%= t('.instance_three') %> <%= link_to t('.sign_up'), new_registration_path(resource_name), class: "btn btn-secondary ml-3" %>
        </div>
        <%= link_to t('.sign_in'), new_user_session_path, class: "nav-btn " %>
      </div>
    </div>
  </div>
</div>
