
<div class="card-body">
  <%= bill_details({ text: t('view.project.new.bill_price'), price: 0.00 }, "bill.price") %>
  <%= bill_details({ text: t('view.project.new.bill_spayce_commission'), price: 0.00 }, "bill.spayceCommission") %>
  <%= bill_details({ text: t('view.project.new.bill_promo_code'), price: 0.00 }, "bill.promoCode") %>
  <%= bill_details({ text: t('view.project.new.bill_tax'), price: 0.00, class: "bill_detail border-bottom pb-3" }, "bill.billTax") %>
  <p><%= t('view.project.new.bill_instance') %></p>
  <h3 class="text-success" data-target="bill.total"><%= number_to_currency(0.00) %></h3>
</div>
