<div class="card-body">
  <%= bill_details({ text: t('views.projects.bill.price'), price: 0.00 }, "bill.price") %>
  <%= bill_details({ text: t('views.projects.bill.spayce_commission'), price: 0.00 }, "bill.spayceCommission") %>
  <%= bill_details({ text: t('views.projects.bill.tax'), price: 0.00, class: "bill_detail border-bottom pb-3" }, "bill.billTax") %>
  <p class="mb-2"><%= t('views.projects.bill.instance') %></p>
  <h3 class="text-success" data-target="bill.total"><%= number_to_currency(0.00) %></h3>
  <% if confirmation %>
    <p class="mb-2"><%= t('views.projects.bill.promo_code') %></p>
    <div class="d-flex">
      <%= simple_form_for :coupon, url: promo_code_project_path(project), method: :get, html: { class: 'd-flex' } do |f| %>
        <%= f.input :code, as: :string, placeholder: 'PROMOCODE20', label: false %>
        <%= f.submit t('views.projects.bill.promo_code_submit'), class: 'btn btn-info text-white', style: 'height: 38px' %>
      <% end %>
    </div>
    <% if stripe_error %>
      <p class="invalid-feedback"><%= stripe_error.message %></p>
    <% elsif retrieved_coupon && !retrieved_coupon.valid %>
      <p class="invalid-feedback"><%= t('views.projects.bill.promo_code_invalid') %></p>
    <% elsif retrieved_coupon %>
      <p style="color: green" data-target='bill.coupon' data-discount='<%= retrieved_coupon.percent_off %>'><%= t('views.projects.bill.promo_code_valid', percent_off: retrieved_coupon.percent_off.to_i) %></p>
    <% end %>
  <% end %>
</div>
