  <%= simple_form_for project do |f| %>
    <div class="mb-3">
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-cancel="<%= t('views.projects.form.cancel_upload') %>" data-remove="<%= t('views.projects.form.remove_file') %>">
        <%= f.input :documents, as: :file, label: false, input_html: { multiple: true, direct_upload: true, data: { target: 'dropzone.input' } }  %>
        <div class="dropzone-msg dz-message needsclick text-gray-600">
          <%= inline_svg_tag "dropzone.svg" %>
          <h3 class=""><%= t('views.projects.form.drag_and_drop') %></h3>
          <span class=""><%= t('views.projects.form.browse') %></span>
        </div>
      </div>
    </div>
    <%= f.input :name,
        label: t('views.projects.form.label.name'),
        placeholder: t('views.projects.form.placeholder.name') %>
    <div class="row" >
      <div class="col-6">
        <%= f.input :client_last_name, label: t('views.projects.form.label.recipient_name'), placeholder: "Michel DURAND" %>
      </div>
      <div class="col-6">
        <%= f.input :client_email, label: t('views.projects.form.label.recipient_email')%>
      </div>
    </div>
    <%= f.input :message %>
    <%= f.input :amount,
      label: t('views.projects.form.label.price'),
      placeholder: "1545.50",
      hint: t('views.projects.form.hint.price'),
      input_html: { data: { action: "keyup->bill#createBill" } }
    %>
    <div id="error-area" data-error="<%= t('views.projects.form.error') %>"></div>
    <%= f.submit t('views.projects.form.button.save', fr_model: "projet", en_model: "project" ), class:"btn btn-info w-100 text-white text-uppercase py-2"%>
  <% end %>
