  <%= simple_form_for project do |f| %>
    <div class="mb-6">
      <div class="dropzone dropzone-default dz-clickable" data-controller="dropzone">
        <%= f.input :documents, as: :file, label: false, input_html: { multiple: true, direct_upload: true, data: { target: 'dropzone.input' } }  %>
        <div class="dropzone-msg dz-message needsclick text-gray-600">
          <%= inline_svg_tag "dropzone.svg" %>
          <h3 class="">Drag & drop your files</h3>
          <span class="">or click to browse files on your computer</span>
        </div>
      </div>
    </div>

    <%= f.input :name %>
    <div class="row" >
      <div class="col-6">
        <%= f.input :client_last_name, label: t('form.label.recipient_name') %>
      </div>
      <div class="col-6">
        <%= f.input :client_email, label: t('form.label.recipient_email')%>
      </div>
    </div>
    <%= f.input :message %>
    <%= f.input :amount,
      label: t('form.label.price'),
      hint: t('form.hint.price'),
      input_html: { data: { action: "keyup->bill#createBill" } }
    %>
    <%= f.submit t('form.button.save', fr_model: "projet", en_model: "project" ), class:"btn btn-info w-100 text-white"%>
  <% end %>
