  <%= simple_form_for project do |f| %>
    <%= f.input :documents, as: :file, label: false, input_html: { multiple: true, direct_upload: true }  %>
    <%= f.input :name %>
    <%#= f.input :description %>
    <%#= f.input :client_first_name%>
    <div class="row" >
      <div class="col-6">
        <%= f.input :client_last_name, label: t('form.label.recipient_name') %>
      </div>
      <div class="col-6">
        <%= f.input :client_email, label: t('form.label.recipient_email')%>
      </div>
    </div>
    <%= f.input :message %>
    <%= f.input :amount, label: t('form.label.price'), hint: t('form.hint.price') %>
    <%= f.submit t('form.button.save', fr_model: "projet", en_model: "project" ), class:"btn btn-info w-100 text-white"%>
  <% end %>
