<div class="container" data-controller="bill">
  <h1 class="my-md-5"> Your files are alredy be sent</h1>
  <div class="row">
    <div class="col-md-8">
      <%= @project.documents.count %> files / <%= @project.documents.map(&:byte_size).sum %> bytes
      <div class="p-3 border">
        <% @project.documents.each do |doc| %>
          <div class="d-flex justify-content-between align-items-center">
            <span><%= doc.blob.filename %></span>
            <span><%= doc.blob.byte_size %> Byte</span>
          </div>
        <% end %>
      </div>
      <div class="card-body">
        <div>
          <%= confirmation_card( "Recipient", @project.client_email) %>
          <%= confirmation_card( "Messages", @project.message) %>
        </div>
      </div>
      <div class="d-flex justify-content-around mt-3">
        <%= link_to "Send email", sending_project_path, class:"btn btn-primary", data: { toggle: 'tooltip', placement: 'bottom', title: 'will send the email directly to your client' } %>
        <button id="clipborad-button" data-toggle="tooltip" data-placement="bottom" title=<%= request.host_with_port + clients_project_path%> data-attribute=<%= request.host_with_port + clients_project_path%> class="btn btn-primary">Copy link</button>
      </div>
    </div>
    <div class="col-md-4">
      <div data-target="bill.amount" data-amount=<%= @project.amount %>></div>
      <%= render "bill", project: @project %>
    </div>
  </div>
</div>







