<div class="container">
  <h1 class="my-md-5"><%= t('view.project.index.title') %></h1>
  <div class="d-flex justify-content-between my-4">
    <div>
      <%= link_to t('activerecord.attributes.project.status.all'), projects_path, class:"btn btn-outline-purple mr-2" %>
      <%= link_to t('activerecord.attributes.project.status.sent'), projects_path({ filter: "sent" }), class:"btn btn-outline-blue mr-2" %>
      <%= link_to t('activerecord.attributes.project.status.paid'), projects_path({ filter: "paid" }), class:"btn btn-outline-green mr-2" %>
      <%= link_to t('activerecord.attributes.project.status.canceled_expired'), projects_path({ filter: "canceled_or_expired" }), class:"btn btn-outline-red" %>
    </div>
    <div class="d-flex justify-content-center">
      <%= form_tag(projects_path, method: :get) do  %>
          <%= text_field_tag(:search, params[:search], placeholder: t('form.placeholder.search'), class: "form-control") %>
      <% end %>
      <%= link_to projects_path, class: "close ml-2" do %>
        <%= inline_svg_tag "close.svg", class:"red-close" %>
      <% end %>
    </div>
  </div>
  <div class="card-body table-responsive">
    <table class="table table-striped">
      <thead>
        <th scope="col">#id</th>
        <th scope="col" ><%= sortable(t('view.project.index.client'), "client_last_name") %></th>
        <th scope="col" ><%= sortable(t('view.project.index.price'), "amount_cents") %></th>
        <th scope="col" ><%= t('view.project.index.send_on') %></th>
        <th scope="col" ><%= t('view.project.index.status') %></th>
      </thead>
      <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.id %></td>
            <td><%= link_to project.client_last_name, project_path(project), class:" text-yellow"%></td>
            <td><%= number_to_currency(project.amount) %></td>
            <td>Update DB</td>
            <td><%= badge_for(project.status) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
