<h1>Project Show count <%= @project.documents.count %></h1>
<p>NAME => <%= @project.name %></p>
<p>DESCRIPTION => <%= @project.description %></p>
<p>amount => <%= @project.amount %></p>
<p>client_email => <%= @project.client_email %></p>
<p>client_first_name => <%= @project.client_first_name %></p>
<p>client_last_name => <%= @project.client_last_name %></p>
<p>message => <%= @project.message %></p>

<% unless @project.documents.any? %>
  <p>Pas de document pour ce projet</p>
<% end %>
<% @project.documents.each do |document| %>
  <%= link_to 'Remove', delete_document_project_path(document: { document_id: document.id  }),
                  method: :delete,
                  data: { confirm: 'Are you sure?' } %>
  <% if document.variable? %>
    <%= image_tag document.variant(
        combine_options: {
          resize_to_limit: [150, 150],
          gravity: 'center',
          draw: 'image Over 0,0 0,0 "'+Project::WATERMARK_PATH.to_s+'"'
        }
      )
    %>
  <% elsif document.previewable? %>
    <%= image_tag document.blob.preview(
          resize_to_limit: [150, 150],
          gravity: 'center',
          draw: 'image Over 0,0 0,0 "'+Project::WATERMARK_PATH.to_s+'"'
        ) %>
  <% end %>
<% end %>
<%= link_to "Edit", edit_project_path(@project), class:"btn btn-info" %>
<%= link_to "supp", project_path(@project), method: :delete, class:"btn btn-danger" %>

<%= link_to "Retour", root_path, class: "btn btn-primary" %>
