<h1>Project Show</h1>
<% unless @project.documents.any? %>
  <p>Pas de document pour ce projet</p>
<% end %>
<% @project.documents.each do |document| %>
  <% if document.variable? %>
    <%= image_tag document.variant(
        combine_options: {
          resize_to_limit: [150, 150],
          gravity: 'center',
          draw: 'image Over 0,0 0,0 "'+Project::WATERMARK_PATH.to_s+'"'
        }
      )
    %>
  <% elsif document.previewable? %>
    <%= image_tag document.blob.preview(
          resize_to_limit: [150, 150],
          gravity: 'center',
          draw: 'image Over 0,0 0,0 "'+Project::WATERMARK_PATH.to_s+'"'
        ) %>
  <% end %>
<% end %>
<%= link_to "Edit", edit_project_path(@project), class:"btn btn-info" %>
<%= link_to "supp", project_path(@project), method: :delete, class:"btn btn-danger" %>

<%= link_to "Retour", root_path, class: "btn btn-primary" %>
