<div class="container">
  <h1 class="mt-md-5"><%= t('views.projects.show.title') %></h1>
  <div class="m-3"><%= link_to t('helpers.button.back'), projects_path %></div>
  <div class="card-body">
    <section class="border-bottom pb-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('views.projects.show.client_name') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.email_address') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.message') %></div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= @project.client_last_name %></div>
          <div class="my-2"><%= @project.client_email %></div>
          <div class="mt-2"><%= @project.message %></div>
        </div>
      </div>
    </section>
    <section class="border-bottom pb-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('views.projects.show.price_asked') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.spayce_commission') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.spayce_taxes') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.your_earnings') %></div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= number_to_currency(@project.amount) %> </div>
          <div class="my-2"><%= number_to_currency(@project.commission) %></div>
          <div class="my-2"><%= number_to_currency(@project.tax) %></div>
          <div class="my-2"><%= number_to_currency(@project.total) %></div>
        </div>
      </div>
    </section>
    <section class="border-bottom pb-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('views.projects.show.project_name') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.nbr_files') %></div>
          <div>
            <% if @project.sent? %>
              <div class="font-weight-bold my-2"><%= t('views.projects.show.transfer_link') %></div>
            <% end %>
          </div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= @project.name %></div>
          <div class="my-2"><%= @project.documents.count %></div>
          <% if @project.sent? %>
            <div class="my-2"><button
            id="clipborad-button"
            data-toggle="tooltip"
            data-placement="bottom"
            title=<%= request.host_with_port + clients_project_path %>
            data-attribute=<%= request.host_with_port + clients_project_path %>
            class="btn btn-info text-white"
            data-copied=<%= t('views.projects.confirmation.copied') %>
          ><%= t('views.projects.confirmation.copy') %></button></div>
          <% end %>
        </div>
      </div>
    </section>
    <section class="pb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('views.projects.show.sent_on') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.expiration_date') %></div>
          <div class="font-weight-bold my-2"><%= t('views.projects.show.status') %></div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= l(@project.created_at, format: :long) %></div>
          <div class="my-2"> <%= l((@project.created_at + 7.day), format: :long) %></div>
          <div class="my-2"><%= badge_for(@project.status) %></div>
        </div>
      </div>
    </section>
  </div>
  <div class="my-3">
    <% if policy(@project).canceled? %>
      <button
        data-url=<%= canceled_project_path(@project) %>
        data-redirect=<%= projects_path %>
        data-title="<%= t('views.projects.show.cancel_alert.title') %>"
        data-content="<%= t('views.projects.show.cancel_alert.content') %>"
        data-cancel="<%= t('views.projects.show.cancel_alert.cancel') %>"
        data-confirmation="<%= t('views.projects.show.cancel_alert.confirm') %>"
        class="btn btn-danger"
        id="sweet-alert-cancel">
        <%= t('helpers.button.cancel') %>
      </button>
    <% end %>
  </div>
</div>
