<div class="container">
  <h1 class="mt-md-5"><%= t('view.project.show.title') %></h1>
  <div class="m-3"><%= link_to t('helpers.button.back'), projects_path %></div>
  <div class="card-body">
    <section class="border-bottom pb-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"> <%= t('view.project.show.client_id') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.client_name') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.email_address') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.message') %></div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= @project.id %> </div>
          <div class="my-2"><%= @project.client_last_name %></div>
          <div class="my-2"><%= @project.client_email %></div>
          <div class="mt-2"><%= @project.message %></div>
        </div>
      </div>
    </section>
    <section class="border-bottom pb-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('view.project.show.price_asked') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.spayce_commission') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.promo_code') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.your_earnings') %></div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= number_to_currency(@project.amount) %> </div>
          <div class="my-2">Stripe info</div>
          <div class="my-2">Stripe info</div>
          <div class="mt-2">Stripe info</div>
        </div>
      </div>
    </section>
    <section class="border-bottom pb-4 mb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('view.project.show.project_name') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.nbr_files') %></div>
          <div>
            <% unless @project.url.nil? %>
              <div class="font-weight-bold my-2"><%= t('view.project.show.transfer_link') %></div>
            <% end %>
          </div>
        </div>
        <div class="col-8">
          <div class="my-2"><%= @project.name %></div>
          <div class="my-2"><%= @project.documents.count %></div>
          <div>
            <% unless @project.url.nil? %>
              <%= link_to t('helpers.button.upload'), @project.url, class:"btn btn-info mt-2" %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
    <section class="pb-4">
      <div class="row">
        <div class="col-4">
          <div class="font-weight-bold my-2"><%= t('view.project.show.sent_on') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.expiration_date') %></div>
          <div class="font-weight-bold my-2"><%= t('view.project.show.status') %></div>
        </div>
        <div class="col-8">
          <div class="my-2">Update DB</div>
          <div class="my-2">Update DB</div>
          <div class="my-2"><%= badge_for(@project.status) %></div>
        </div>
      </div>
    </section>
  </div>
  <div class="my-3">
    <% unless @project.canceled? || @project.expired? %>
      <%= link_to t('helpers.button.edit'), edit_project_path(@project), class:"btn btn-info" %>
      <%= link_to t('helpers.button.cancel'), project_path(@project), method: :delete, class:"btn btn-danger" %>
    <% end %>
  </div>
</div>
