<div class="wrapper">
  <div class=" container">
    <div class="card-connexion">
      <h1 class="text-center mb-5">Log in to your account</h1>
      <%= simple_form_for(resource, as: resource_name, wrapper: :inline_form, url: session_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <% resource.errors.full_messages.each do |msg| %>
              <p class= "alert-error"><%= msg %></p>
          <% end %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: false,
                      autofocus: true,

                      input_html: {placeholder: "Email", class: "xl-input" } %>
          <%= f.input :password,
                      required: false,
                      input_html: { placeholder: "Password", autocomplete: "current-password", class: "xl-input" } %>
          <div class="text-right mb-2">
            <%#= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
            <%= link_to "Forgot your password?", new_password_path(resource_name), class: "text-decoration-none text-secondary" %>
          </div>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, "Log in", class: "btn btn-info button-connexion text-white" %>
        </div>
      <% end %>
      <div class="text-center">
        <div class="d-flex align-items-center justify-content-center">
          Don't have an account yet ? <%= link_to "Sign up", new_registration_path(resource_name), class: "btn btn-secondary m-4" %>
        </div>
      </div>
    </div>
  </div>
</div>
