<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      .container {
        width: 900px;
        margin: auto;
      }
      .btn {
        color: white;
        background-color: #F2C94C;
        border: 1px solid #F2C94C;
        padding: 5px 25px;
        text-decoration: none;
      }

      .center {
        text-align: center;
      }
      .background {
        background-color: white;
        padding: 30px;
      }
      body {
        background-color: #E8EAEC;
      }
      .footer {
        color: gray;
      }
    </style>
  </head>
  <body>

    <div class="background container">
      <div class="center">
        <%= image_tag attachments['logo.jpg'].url%>
      </div>
      <div>
        <p>Bienvenue et merci <%= @resource.email %></p>

        <p>Afin de finaliser votre inscription et pouvoir vous connecter à votre compte Spayce, nous devons vérifier votre adresse email. Merci !</p>

        <p><%= link_to t('.action'), confirmation_url(@resource, confirmation_token: @token), class:"btn" %></p>
        <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token)%></a>

        <p>A très vite sur Spayce !</p>
        <p><%= link_to "En savoir plus sur Spayce", "https://www.fromspayce.com/" %></p>

        <hr>

        <p>Welcome and thank you<%= @resource.email %></p>

        <p>In order to complete your registration and be able to log into your Spayce account, we need to verify your email address. Thank you !</p>

        <p><%= link_to 'Check my email', confirmation_url(@resource, confirmation_token: @token), class:"btn" %></p>
        <a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token)%></a>

        <p>See you soon on Spayce!</p>
        <p><%= link_to "Learn more about Spayce", "https://www.fromspayce.com/" %></p>
      </div>
    </div>
    <div class="center footer">
      <p>From Spayce</p>
      <p>N° siret :84423490600015</p>
      <p>Forme juridique: Société par actions simplifiée</p>
      <p>Date immatriculation RCS : 29-11-2018</p>
    </div>
  </body>
</html>




